page-garage-register
{

	.background
	{
		width: 100%;
		height: 100%;
		background: linear-gradient(10deg, #4E5EfC, #4EE7FC);
	}

/*	ion-card.card
	{
		background: rgba(232, 230, 230, 0.6px);
		border-radius: 10px;
	}*/

	.item
	{
		background: rgba(232, 230, 230, 0px);
	}

}
